/*-------------------------------------
*	BASE STYLES / FOR MOBILE VIEWPORTS
*-------------------------------------*/

/*
	TABLE OF CONTENTS:
----------------------------------
	€1. MAIN / GENERAL
	€2. PAGE STYLES
----------------------------------
*/

/*
	€1. MAIN / GENERAL
*/

html {
	font-size: 10px;
}

body {
	background: url(../img/bg.png) repeat 0 0 $bgcolor;
	font-family: $sans-serif;
	font-weight: $normal-weight;
	line-height: 1.5;

	> div {
		@include font-size(1.6);
		color: $black;
	}
}

img {
	max-width: 100%;
}

hr {
	border-top-color: $gray;
}

span.error {
	color: $red;
}

strong {
	font-weight: $bold-weight;
}

input, textarea, select, a {
	outline: none;
}

blockquote {
	@include font-size(1.4);
	font-style: italic;
}

// LISTS

ul {
	&.list {
		padding-left: $gutter;
		display: inline-block;
	}

	&.block-list {
		li {
			display: block;
		}
	}

	&.inline-list {
		li {
			display: inline-block;
		}
	}

	li.active > a {
		font-weight: $bold-weight;
	}
}

// POSITIONING

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

//  TYPOGRAPHY

a, a:active, a:hover {
	color: $black;
	display: inline-block;
	border-bottom: 1px dotted $red;
	text-decoration: none;
	@include transition (all 0.2s ease-in-out);
}

a:hover {
	color: $red;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: $header-font;
	text-transform: uppercase;
	font-weight: $bold-weight;
	text-rendering: optimizeLegibility;
	letter-spacing: 2;
}

h1, .h1 {
	@include font-size(6.6);
	letter-spacing: 25.5px;
	margin: 0;
	line-height: .9;
	text-align: center;

	span {
		letter-spacing: 0;
	}
}

h2, .h2 {
	@include font-size(3.2);
	letter-spacing: 5px;
	line-height: .8;
	margin: 0;
}

h3, .h3 {
	@include font-size(1.4);
}

h4, .h4 {
	@include font-size(1.2);
	margin: 10px 0;
}

p {
	@include font-size(1.6);
	margin: $gutter 0;
	&:first-child {
		margin-top: 0;
	}
}

/*
	€2. PAGE STYLES
*/

.page-header {
	margin: ($gutter * 2) 0;
	padding: 0 0 ($gutter * 2);
	border-bottom: ($gutter * 2) solid $black;  
}

.section {
	margin: ($gutter * 2) 0;
}

.section-header {
	background: $black;
	text-align: center;
	margin-bottom: $gutter;
	padding: 25px;
	color: $white; 
}

.text-block {
	padding: $gutter;

	p:first-child {
		@include font-size(2);
		font-style: italic;
	}
}

.bandmember {
	.name {
		font-weight: $bold-weight;
		text-transform: uppercase;
		width: 90px;
	}
}

/*.social-media {
	@extend .clearfix;
	margin: 0 -7.5px;

	li {
		float: left;
		display: block;
		padding: 0 7.49px;
	}

	.icon {
		display: block;
		overflow: hidden;
		text-indent: -9999px;
		background-image: url(../img/social-icons.png);
		background-repeat: no-repeat;
		background-color: transparent;
		width: 60px;
		height: 60px;
		border: 0;

		&.instagram {
			background-position: -60px 0;
		}

		&.twitter {
			background-position: -120px 0;
		}

		&.youtube {
			background-position: -180px 0;
		}

		&.flickr {
			background-position: -240px 0;
		}
	}
}*/

.gigs-section .section-content {
	text-align: center;
}

.gigbanner {
	color: $white;
	text-align: center;
	text-transform: uppercase;
	font-weight: $bold-weight;
	width: 290px;
	height: 290px;
	@include font-size(1.6);
	letter-spacing: 5px;

	&:hover {
		color: $white;
		opacity: 0.8;
		border: 0;
	}

	&.gigbanner-01 {
		background: url(../img/gigbanner-01-quadro.jpg) no-repeat 0 0 transparent;
		background-size: cover;
		padding-top: 88px;
	}
}

.page-footer {
	width: 100%;
	height: $gutter * 4;
	background: $black;
	color: $white;
}
