/*-------------------------------------
*	BASE STYLES / FOR TABLET VIEWPORTS
*-------------------------------------*/

/*
	TABLE OF CONTENTS:
----------------------------------
	€1. MAIN / GENERAL
----------------------------------
*/

/*
	€1. MAIN / GENERAL
*/

h1, .h1 {
	@include font-size(12.77);
	line-height: .73;
}

.gigbanner {
	width: 340px;
	height: 340px;
	@include font-size(1.7);

	&.gigbanner-01 {
		padding-top: 105px;
	}
}